.landing-image-holder {
  margin-top: -6px;
}

.code-box {
  position: absolute;
  top: 30%;
  left: 38%;

  .code-box-input {
    font-size: 50px;
    height: 60px;
    // width: 200px;
  }

  .code-box-button {
    height: 60px;
    width: 70px;
    font-size: 35px;
    padding-top: 12px;
  }

}

.alert-code {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -20px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white;
}

