<div class="landing-image-holder">
  <div class="code-box">
    <div class="input string optional company_name">
      <label class="string optional">
        Insert code
      </label>
      <input class="string optional" type="text" />
    </div>
  </div>
  <%= image_tag "https://s3-us-west-2.amazonaws.com/rate-my-driving/truck.jpg" %>
</div>
