<div class="landing-image-holder">
  <div class="code-box">
    <form>
      <div class="row">
        <div class="small-12 columns">
          <div class="row collapse">
            <div class="small-10 columns">
              <input class="code-box-input" type="text" placeholder="Enter code">
            </div>
            <div class="small-2 columns">
              <a class="button postfix code-box-button">Go</a>
            </div>
            <div class="small-10 columns">
              <div class="alert-code no-code-error-holder">
                 Please enter code                 
              </div>
            </div>
            <div class="small-2 columns no-code-error-holder">
            </div>
            <% if alert %>
              <div class="small-10 columns">
                <div class="alert-code">
                  <%= alert %>                
                </div>
              </div>
              <div class="small-2 columns">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </form>
  </div>
  <%= image_tag "https://s3-us-west-2.amazonaws.com/rate-my-driving/truck.jpg" %>
</div>
