<div class="landing-image-holder">
  <div class="code-box">
    <div class="row">
      <div class="small-12 medium-10 large-6 columns">
        <div class="row collapse">
          <div class="small-11 columns">
            <input class="code-box-input" type="text" placeholder="Enter code">
          </div>
          <div class="small-1 columns">
            <a href="#" class="button postfix code-box-button">Go</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag "https://s3-us-west-2.amazonaws.com/rate-my-driving/truck.jpg" %>
</div>
