<div class="icon-bar four-up">
  <a class="item">
    <i class="fa fa-home"></i>
    <label>Home</label>
  </a>
  <a class="item">
    <i class="fa fa-automobile"></i>
    <label>Rate</label>
  </a>
  <a class="item">
    <i class="fa fa-info"></i>
    <label>About</label>
  </a>
  <a class="item">
    <i class="fa fa-envelope"></i>
    <label>Contact</label>
  </a>
</div>